
*{
    background-color: black;
}
h2{
    color: rgb(0, 0, 0);
    background-color: transparent;
    padding-top:30px;
}
.card{
    width: 200px;
    height: 300px;
    margin-left:300px;
    margin-top: 200px;
    /* border: 1px solid black; */
    background-color: rgb(255, 205, 243);
    box-shadow: 0px 0px 10px rgb(255, 232, 236);
    border-radius: 10px;
}

.card>img{
    width:100px;
    position: relative;
    top:-70px;
    left:90px;
    background-color: rgb(255, 205, 243);
    opacity: 0.5;

}

.container{
    display: flex;
    flex-wrap: wrap;
}
