.box{
    display: flex;
    border-color: black;
    border-style: solid;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.card{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.card:hover{
    transform: scale(1.05);
}
.c-1{
    background-color: pink;
}
.c-2{
    background-color: orange;
}
.c-3{
    background-color: red;
}
.c-4{
    background-color: blue;
}
.c-5{
    background-color: rgb(136, 255, 100);
}
