.box{
    display: flex;
    border-color: black;
    border-style: solid;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.card{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.card:hover{
    transform: scale(1.05);
}
.c-1{
    background-color: pink;
}
.c-2{
    background-color: orange;
}
.c-3{
    background-color: red;
}
.c-4{
    background-color: blue;
}
.c-5{
    background-color: rgb(136, 255, 100);
}
.c-6{
    background-color: purple;
}
.c-7{
    background-color: yellow;
}
.c-8{
    background-color: cyan;
}
.c-9{
    background-color: magenta;
}
.c-10{
    background-color: lime;
}
.c-11{
    background-color: teal;
}
.c-12{
    background-color: coral;
}
