.box{
    display: flex;
    border-color: black;
    border-style: solid;
    /* justify-content: space-around;
     */
     /* justify-content: space-evenly;
      */
      /* justify-content: space-between;
      justify-content: flex-end; */
      justify-content: center;
      gap:10px;
}

.card{
    width: 100px;
    height: 100px;
    /* margin: 10px; */
}
.c-1{
    background-color: pink;
}
.c-2{
    background-color: orange;
}
.c-3{
    background-color: red;
}
.c-4{
    background-color: blue;
}
.c-5{
    background-color: rgb(198, 111, 6);
}